/* Here is my design for all links */
a{
    font-size: 12px;
    margin: 10px 0;
}
/* Here is my design for the form buttons */
.ai{
    font-size: 20px;
}
/* Here is my design for the form */
#Jobtitle{
    width: 310px;
}
#Company{
    width: 310px;
}
#workplacetype{
    width: 310px;
}
#Joblocation{
    width: 310px;
}
#jobtype{
    width: 310px;
}

#language{
    font-size: 12px;
    width: 250px;
    height: 30px;
}
/* Here is my design for the footer */
footer{
    font-size: 12px;
}

/* Here is my responsiveness design */
@media (max-width: 950px)  {
   .flexcard{
    display: flex;
    flex-direction: column;
   } 
}