.logo img{
    width:180%;
    /* height: 100%; */
    
}
.vert{
    width: 1px;
    height: 20px;
    background-color: white;
}
#botn{
    background-color: orange;
    margin-left: 10px;
    padding: 15px 50px;
    border-radius: 5px;
    
}
.bg-1{
    background-color: #04ac3f;
    height: 300px;
    color: white;
    z-index: 1;
}
.pp{
    z-index: 8;
    color: white;
}
.navbar{
    background-color: #00b53f;
    height: 80px;
    border: none;

}
.nav{
    margin-top: 30px;
}
.navbar a{
    color: white;
}
.b{
    color: white;
    margin: 0px 20px;
}
.a a{
    color: white;
    margin-right: 10px;
    
}
.bg-2{
    margin-top: 120px;
}
.locate{
    color: white;
    background-color: black;
    padding: 5px 6px;
    border-radius: 5px;
    font-size: 15px;
}
.find{
    text-align: center;
}
.tex{
    font-size: 20px;
}

.input-group{
    margin-top: 30px;
   
}
.form-control{
    margin-top: 20px;
    padding: 25px 15px;
    border-radius: 10px;
}

.glyphicon-search{
    position: relative;
    color: gray;
    font-size: 30px;
    z-index: 7;
    top: -38px;
    left: 230px;
}

.glyphicon-map-marker{
    font-size: 13px;
}

.bg-4{
    background-color: rgb(223, 241, 247);
    
}
.categories{
    background-color: white;
    max-width: 40%;
    box-shadow: 1px 2px 2px;
    z-index: 7;
}

.category{
    width: 100%;
    height: 100%;
    padding: 5px 0px;
    padding-left: 10px;
    z-index: 7;
}
.category:hover{
    background-color:rgb(223, 241, 247) ;
}

ul li{
    list-style: none;
    padding: 0px 10px;
    
}
.products ul{
    width: 340px;
    margin-left: -50px;
}
.products ul li{
  
   width: 100%;
}

.products ul li a{
    text-decoration: none;
}
.products ul li:hover{
    background-color:rgb(223, 241, 247) ;
}

/* .category {
    padding: 10px;
    margin: 5px;
    background-color: lightblue;
    cursor: pointer;
  } */

  .products {
    display: none;
    padding: 10px;
    /* margin: 5px; */
    background-color: white;
    width: 300px;
    height: 100%;
    position: absolute;
    left: 99%;
    top: 0%;
    box-shadow: 1px 2px 3px;
    z-index: 7;
  }

  .category:hover .products {
    display: block;
  }
.carousel-inner{
    width: 100%;
}

.add{
    background-color: orange;
    padding: 20px;
    text-align: center;
}
.add a{
    color: white;
    font-weight: bolder;
}
.for-slide-flex{
    display: flex;
    color: white;
}

.circles{
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 20px;
    margin: auto;
    font-size: 50px;
    text-align: center;
    color: orange;
    
}
.trend{
    font-size: 30px;
}

.selling{
    background-color: white;
    margin: 5px;
    text-align: center;
}

.conti{
    max-width: 40%;
    box-shadow: 1px 2px 2px;
    z-index: 7;
    background-color: red;
    height: 100px;
}
  /* .main-content{
      display: flex;
  } */

  /* .content{
     
      display: flex;
      flex-wrap: wrap;
  } */

  .b-app-footer__image img{
      width: 90%;
      height: 20%;
      margin: 0 auto;
  }

  .fot{
      background-color:#00b53f;
      
     
  }
  .boxes{
      display: flex;
      flex-direction: column;
      margin: 15px 40px;

  }
  .boxes a{
      text-decoration: none;
      color: white;
      margin: 10px 0;
  }
  .boxes p{
      font-size: 16px;
      font-weight: bold;
  }
  .fot-flex{
    display: flex;
    max-width: 90%;
    margin: 10px 70px;
  }
.selling a{
    text-decoration: none;
}
.category img{
    width: 15%;
    /* margin-right: 5px; */
}
.glyphicon-chevron-right{
    /* margin-left: 100px; */
    float: right;
    margin-top: 10px;
    margin-right: 8px;
}
.category p{
    margin-left: 40px;
    margin-top: -10px;
    font-size: 10px;
}


  